body {
}
#Field {
	border: 5px solid black;
	font-size: 72px;
	font-weight: bold;
	color: white;
	text-align: center;
}
#Table {
	margin: 10px;
}
	#Coins {
		width: 400px;
		height: 50px;
		color: black;
		font-weight: bold;
		text-align: center;
		font-size: 32px;
		border: 5px solid black;
		margin-bottom: 10px;
	}
	#Walls {
		color: black;
		width: 400px;
		height: 50px;
		font-weight: bold;
		font-size: 32px;
		text-align: center;
		border: 5px solid black;
	}